*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav_bar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
.profile_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    transition: color .3s;
    cursor: pointer;
}
.profile_holder:hover{
    color: #0062b9;
}
.profile_img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0062b9; */
}
.profile_sub{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

ul{
    display: flex;
}
li{
    list-style: none;
}
.links{
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    transition: color .3s;
    text-decoration: none;
}
.links:hover{
    color: #0062b9;
}
/* home section styles  applied here*/
.home_section{
    color: #fff;
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url(../../assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_part{
    display: flex;
    border: 1px white solid;
    height: 100vh;
    width: 100%;
    max-width: 10%;
    color: white;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 4rem;
}
.social li{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
svg{
    height: 40px;
    width: 40px;
}
.right_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    width: 100%;
    max-width: 90%;
    border: 1px white solid;

}
